* {
    padding: 0;
    margin: 0;
}

.main90{
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario13 {
    display: flex;
    align-items: center;
    border-radius: 20px;
    height: 500px;
    width: 400px;
    border: 0.01px solid rgba(255, 255, 255, 0.1);
    background-color: #1c1c24;
    color: white;
    position: absolute;
    top: 25%; 
}

.cadastro12 {
    font-size: 28px;
    display: flex;
    position: absolute;
    top: 14%; 
    left: 33%;
}

.formCadastro {
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: absolute;
    top: 20%; 
    left: 1%;
}

.image3 {
    display: flex;
    height: 65px;
    position: absolute;
    top: 1%; 
    left: 15%; 
}

.inputCadastro {
    background-color: #1c1c24;
    color: white;
    border-radius: 10px;
    margin: 10px 0 20px 0;
    height:  40px;
    width: 350px;
    border: none;
    transition: border-color 0.7s; 
}

.inputCadastro:hover {
    border: 2px solid #f3c327; 
}

.inputCadastro:focus {
    border: 2px solid #f3c327; 
    outline: none;
}

.inputCadastro::placeholder{
    font-size: 18px;
}


.buttonCadastro {
    background-color: #f3c327;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 350px;
    height: 40px;
}

.labelButton11 {
    margin-left: 50px;
}

.form a {
    color: #f3c327;
    text-decoration: none;
}

